body{
	background-image: url("https://s20.postimg.org/yfh6kls31/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%; 
	color: #333;
}

#meteo {
	margin: 0 auto;
	width: 500px;
	height: 600px;
	background-color: rgba(255, 255, 255,  0.3);
	filter: alpha(opacity=30);
	position: relative;
	top: 40px;
}

#header {
margin: 0 auto;
height: 100px;	
padding-top: 50px;
text-align: center;

}

#city{
	margin: 0 auto;
	text-align: center;
	width: 500px;
	height: 66px;
	padding-top: 20px;

}
.showicon {
	text-align: center;
	width: 500px;
	height: 190px;

}
#icon {
	width: 120px; 
	height: 120px;
}
.details{
	margin: 0 auto;
	text-align: center;
	height: 80px;	
}
.temp {
	color: #EEE;
}
.temp:hover { 
    color: #333;
}
